<!-- Ce composant regroupe les deux parties index et show -->
<!-- La partie index, dans un autre composant enfant 
    La partie show, sans composant
-->
<main class="container container-1-2">
    <app-index-planets (sendPlanetToParent)="showPlanet($event)"></app-index-planets>
    <div>
        <div class="card">
        <div class="information mb-5">
            <div>
                <div class="bold text-primary">{{ planet?.name }}</div>
                <div class="info mb-3">Info supplémentaire</div>
            </div>
        </div>
        <div class="small-information mt-5">
            <a href="#" class="link">200 kg</a>
            <span class="fas fa-weight fa-2x"></span>
        </div>
        <div class="medium-information mt-4">
            <p class="bold">Véhicules</p>
            <div>
                <div class="badge badge-secondary">Voiture</div>
                <div class="badge badge-secondary">Avion</div>
            </div>
        </div>
        <div class="mt-5 d-flex right">
            <div class="btn">En savoir plus</div>
        </div>
        </div>
        <div class="card flex little">
        <div class="card-header">
            <h2 class="title text-primary mb-5">
            VUE SUR LES DIFFÉRENTES ESPÈCES
            </h2>
        </div>
        </div>
    </div>
</main>
