<div class="navbar-height"></div>
<div class="navbar">
    <div class="contain-burger">
        <div class="burger"></div>
    </div>
    <nav class="nav">
        <img src="../../assets/images/logotype.png" class="pointer" alt="Logotype de SpaceX" routerLink="" />
        <a routerLink="" class="navbar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
    </nav>
</div>
<nav class="vertical-navbar">
    <a routerLink="planets" class="nav-vertical-link" routerLinkActive="active">
        <span class="fas fa-globe fa-3x"></span>
        <p>Planètes</p>
    </a>
    <a href="#" class="nav-vertical-link" routerLinkActive="active">
        <span class="fas fa-rocket fa-3x"></span>
        <p>Véhicules</p>
    </a>
    <a href="#" class="nav-vertical-link" routerLinkActive="active">
        <span class="fab fa-reddit-alien fa-3x"></span>
        <p>Personnes</p>
    </a>
</nav>
