<div class="card sticky flex tall">
    <div class="card-header">
    <h2 class="title text-primary">Planètes</h2>
    <div class="form-group">
        <select class="select pr-5">
        <option value="">Par population</option>
        <option value="test">1</option>
        <option value="test">2</option>
        <option value="test">3</option>
        <option value="test">4</option>
        </select>
    </div>
    <div class="form-group">
        <div class="form-group form-group-search">
        <input
            type="text"
            class="form-control searchbar"
            id="searchbar"
            placeholder="Faites votre recherche"
        />
        <span class="fas fa-search icon"></span>
        </div>
    </div>
    </div>

    <div class="table">
        <!-- Si planets est à null, on n'a pas encore reçu les données -->
        <!-- Donc on souhaite ne pas afficher la balise <table> et ce qu'elle englobe -->
        <!-- L'interêt est qu'il n'y aura pas d'erreur sur les .name et .terrain -->
        <!-- Ceux là rendrai une erreur dans le cas où les données ne seraient pas encore arrivées -->
        <table *ngIf="planets">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Terrain</th>
            </tr>
            </thead>
            <tbody>
            <!-- Afficher les données : les planètes -->
            <!-- Grâce à une directive *ngFor="" -->
            <tr (click)="showPlanet(planet)" *ngFor="let planet of planets">
                <td>{{ planet.name }}</td>
                <td>{{ planet.terrain }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
    <div class="medium-information mt-5">
        <span class="info" *ngIf="planets">{{ planets.length }} resultat(s)</span>
    </div>
    </div>
</div>